body {
    background-color:yellow;
}

.yel {
    background-color: red;
}
.yell {
    background-color:blue;
}
.yelll {
    background-color:gray;
}
.yellll {
    background-color: greenyellow;
}
.yelllll {
    background-color: peru;
}